.container {
    background-color: #F7FDFD;

    position: relative;

    width: 100vw;
    height: 100vh;

}

.container .header {
    display: flex;
    position: fixed;

    justify-content: center;
    align-items: center;

    gap: 60vw;
    top: 0;
    padding-top: 1rem;
    z-index: 10;

    padding-bottom: 1rem;
    border-bottom: solid rgba(0, 0, 0, 0.103) 1px;
    
    background-color: white;

    width: 100vw;
    font-size: 2rem;
}

.container .header h1 {
    margin-left: -10rem;
    font-size: 1.7rem;
}

.container .left_bar {    
    display: flex;
    flex-direction: column;

    position: fixed;

    gap: 2rem;

    justify-content: flex-start;
    align-items: center;

    border-right: solid rgba(0, 0, 0, 0.103) 1px ;
    padding-top: 2rem;
    margin-top: 4rem;
    top: 0;

    background: white;

    font-size: 1.2rem;

    width: 15%;
    height: 100vh;
}

.container .left_bar h2 {
    text-align: center;
}

.container .middle_screen {
    position: absolute;

    top: 15%;
    left: 25%;

    background-color: white;
    width: 60%;

}

/*------POST STYLES------*/

.container .post {
    display: flex;
    flex-direction: column; 
    text-wrap: wrap;
    
    padding: 3rem;

    margin-top: 1rem;
    margin-bottom: 3rem;
}

.container .post::after {
    content: "";
    display: block;

    width: 100%;
    height: .07rem;

    margin-top: .7rem;

    background-color: rgba(128, 128, 128, 0.164);
}

.container .post .title_and_text h1 {
    font-size: 1.5rem;
}

.container .post .title_and_text p{
    margin-top: 1rem;
}

.container .post .info_bellow {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.container .post .info_bellow button{
    color: white;

    text-align: left;
    margin-top: 2rem;


    background-color: #4EBDBA;
    width: fit-content;

    padding-inline: 1rem;
    padding-block: .5rem;
    border-radius: .3rem;
}

.container .post .info_bellow p#owner_name{
    margin-top: 2rem;
    font-size: .9rem;
}

/*------------------*/

@media (height <= 446px) {

    .container .middle_screen {
        top: 30%;
    }

}

@media (width <= 768px) {

    .container .header {
        display: flex;
        justify-content: space-around;

        gap: 5rem;
    }

    .container .header h1 {
        margin-left: 0rem;
    }

    .container .left_bar {    
        display: flex;
        flex-direction: column;
    
        position: fixed;
    
        gap: 2rem;
    
        justify-content: flex-start;
        align-items: center;
    
        border-right: solid rgba(0, 0, 0, 0.103) 1px ;
        padding-top: 2rem;
        margin-top: 4rem;
        top: 0;
    
        background: white;
    
        font-size: 1.2rem;
    
        width: 20%;
        height: 100vh;
    }


}